.colors-red {
   color: #FE1C3B;
}

.colors-gray {
   color: #C5C8CB;
}

.bg-gray {
   background-color: #C5C8CB;
}

.bg-red {
   color: #FE1C3B;
}

.colors-red-black {
   color: #530404
}

svg path {
   color: #FE1C3B;
}