header(class="bg-red-700 shadow-xl")
  div(class="flex items-center justify-between md:flex-col lg:flex-row")
    a(href="#" class="py-10 cssanimation effect3d")
      h2.text-white.text-2xl.ml-10 Micr
        span.text-white Tech 
        span.text-gray-400 RD
      
    //- Bot贸n para Men煤 Hamburguesa (visible solo en pantallas peque帽as)
    div(class="md:hidden flex items-center mr-4")
      button(type="button" id="mobile-menu-toggle" class="text-white focus:outline-none transition-all duration-300")
        i(class="fa fa-bars text-2xl", id="hamburger-icon")

    //- Men煤 principal (visible en pantallas medianas y grandes)
    nav(class="font-semibold md:flex items-center justify-center px-12 mx-12 gap-10 hidden " id="main-menu")
      a(href="#" class="text-white hover:text-[#44556a7d] hover:border-b-2 rounded-sm hover:border-red-300 transition ease-in-out duration-200") Inicio
      a(href="#" class="text-white hover:text-[#44556a7d] hover:border-b-2 hover:border-red-300 transition ease-in-out duration-200") Facturaci贸n
      
      //- Reparaci贸n Desplegable (versi贸n escritorio)
      div(class="relative" id="repair-menu-container")
        a(href="javascript:void(0);" class="text-white hover:text-[#44556a7d] hover:border-b-2 hover:border-red-300 transition ease-in-out duration-200 flex items-center" id="repair-menu-toggle")
          span Reparaci贸n
          i(class="fa fa-chevron-down ml-2 transition-transform duration-300", id="repair-arrow") 
        ul(class="absolute hidden bg-gradient-to-t from-[#ffe9ed] to-[#ffffff] shadow-md rounded mt-2 w-64" id="repair-menu")
          li
            a(href="#" class="block px-4 py-2 text-gray-500 hover:bg-gray-100") Crear Orden Reparaci贸n 
          li
            a(href="#" class="block px-4 py-2 text-gray-500 hover:bg-gray-100") Estado Reparaci贸n
          
      a(href="#" class="text-white hover:text-[#44556a7d] hover:border-b-2 hover:border-red-300 transition ease-in-out duration-200") Servicios

    //- Perfil y Cerrar Sesi贸n (visible en pantallas medianas y grandes)
    div(class="hidden md:flex items-center font-bold justify-end gap-6 mr-12 px-4")
      a(href="#" class="flex items-center space-x-2 text-white text-sm md:text-base") 
        span Jos茅 Guichardo
        i(class="fa-solid fa-user pl-1 text-lg")
        
      a(href="#" class="text-gray-100 bg-red-400 hover:bg-red-700 py-2 px-4 text-xs md:text-sm sm:text-sm rounded-lg") Cerrar Sesi贸n

//- Men煤 m贸vil que aparece cuando se hace clic en el 铆cono de men煤 hamburguesa
div(class="hidden flex items-center flex-col justify-center md:hidden bg-white w-full py-2 shadow-lg" id="mobile-menu")
  a(href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100") Inicio
  a(href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100") Facturaci贸n
  
  //- Reparaci贸n Desplegable (versi贸n m贸vil)
  div(class="relative mr-10")
    a(href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 flex items-center" id="mobile-repair-menu-toggle")
      span Reparaci贸n
      i(class="fa fa-chevron-down ml-2 transition-transform duration-300", id="mobile-repair-arrow")
    ul(class="hidden bg-gradient-to-t from-[#ffe9ed] to-[#ffffff] shadow-md rounded mt-2 w-full" id="mobile-repair-menu")
      li
        a(href="#" class="block px-4 py-2 text-gray-500 hover:bg-gray-100") Crear Orden Reparaci贸n 
      li
        a(href="#" class="block px-4 py-2 text-gray-500 hover:bg-gray-100") Estado Reparaci贸n

  a(href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100") Servicios
  a(href="#" class="block px-4 py-2 text-gray-100 bg-red-400 hover:bg-red-700 rounded-lg mt-4") Cerrar Sesi贸n

block scripts 
  script(src="/js/desplegable.js")
