header(class="bg-red-800 shadow-lg md:shadow-lg md:shadow-gray-50")
  div(class="flex items-center justify-between md:flex")
    a(href="#" class="py-10 cssanimation effect3d")
      h2.text-white.text-2xl.ml-10 Micr🍎
        span.text-white Tech 
        span.text-gray-400 RD
    //- Perfil y Cerrar Sesión (visible en pantallas medianas y grandes)
    div(class="hidden md:flex items-center font-bold justify-center gap-6 mr-12 px-4")
        
      a(href="#" class="text-white bg-red-600 shadow-lg hover:shadow-red-500 hover:text-gray-100 hover:bg-gray-700 hover:scale-90 transition-all ease-out duration-300 py-2 px-4 text-sm md:text-lg sm:text-base rounded-lg") Iniciar Sesión

