header(class="bg-red-800 shadow-lg md:shadow-lg md:shadow-gray-50")
  div(class="flex items-center justify-between md:flex")
    a(href="/auth/login" class="py-10 cssanimation effect3d")
      h2.text-white.text-2xl.ml-10 Micr🍎
        span.text-white Tech 
        span.text-gray-400 RD


